.alert-success{
    padding:10px;
    background-color: rgb(123, 233, 123);
    color: green;
    margin: 10px;

    border:1px solid green;
}


.alert-danger{
    padding:10px;
    margin: 10px;
    background-color: rgb(224, 162, 162);
    color: red;
    border:1px solid red;
}