<nav>
  <ul>
    <li><a routerLink="home">Home</a></li>
    <li>
      <a routerLink="demos">Demos</a><br>
      &nbsp;|&nbsp;&nbsp;&nbsp;<span><a routerLink="demos/bindings">Bindings</a></span>&nbsp;|&nbsp;
        <span><a routerLink="demos/pipes">Pipes</a></span>&nbsp;|&nbsp;
        <span><a routerLink="demos/directives">Directives Structurelles</a></span>&nbsp;|&nbsp;
        <span><a routerLink="demos/directivesPart2">Directives d'attribut</a></span>&nbsp;|&nbsp;
        <span><a routerLink="demos/directivesCustom">Directives d'attribut custom</a></span>&nbsp;|&nbsp;
        <span><a routerLink="demos/inputOutput">descente Input remontée Output</a></span>&nbsp;|&nbsp;
        <span><a routerLink="demos/services">DI : Les services</a></span>&nbsp;|&nbsp;
        <span><a routerLink="demos/promise">Rappel sur les promesses</a></span>&nbsp;|&nbsp;
    </li>
    <li>
      <a routerLink="exercices">Exercices</a><br>
      &nbsp;|&nbsp;&nbsp;&nbsp;<span><a routerLink="exercices/chrono">Chrono</a></span>&nbsp;|&nbsp;
        <span><a routerLink="exercices/pipeCustom">Pipe Custom Euro -> Btc</a></span>&nbsp;|&nbsp;
        <span><a routerLink="exercices/cartv1">Le panier de courses V1</a></span>&nbsp;|&nbsp;
        <span><a routerLink="exercices/customDirective">La directive custom</a></span>&nbsp;|&nbsp;
        <span><a routerLink="exercices/cartv2">Le panier de courses V2</a></span>&nbsp;|&nbsp;
        <span><a routerLink="exercices/cartv3">Le panier de courses V3</a></span>&nbsp;|&nbsp;
    </li>
  </ul>
</nav>
