<nav>
  <ul>
    <li><a routerLink="home">Home</a></li>
    <li>
      <a routerLink="demos">Demos</a>
      <ul>
        <li><a routerLink="demos/bindings">Bindings</a></li>
        <li><a routerLink="demos/pipes">Pipes</a></li>
        <li><a routerLink="demos/directives">Directives Structurelles</a></li>
        <li><a routerLink="demos/directivesPart2">Directives d'attribut</a></li>
        <li><a routerLink="demos/directivesCustom">Directives d'attribut custom</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="exercices">Exercices</a>
      <ul>
        <li><a routerLink="exercices/chrono">Chrono</a></li>
        <li><a routerLink="exercices/pipeCustom">Pipe Custom Euro -> Btc</a></li>
        <li><a routerLink="exercices/cartv1">Le panier de courses V1</a></li>
      </ul>
    </li>
  </ul>
</nav>
