<h1>Le panier de courses V3 (DI service et storage)</h1>

<p>
    <button *ngIf="!isConnectCartV3" (click)="loginCartV3()">Login</button>
    <button *ngIf="isConnectCartV3" (click)="logoutCartV3()">Logout</button>
</p>


<fieldset style="width:35%; float:left;">
    <legend>Système d'ajout</legend>

    <label>Article</label><input [(ngModel)]="newArt" type="text" placeholder="votre article"><br><br>
    <label>Quantité</label><input [(ngModel)]="newQty" type="number" min="1" max="5"><br><br>

    <button
        (click)="addArticle()"
        *ngIf="
            newArt != undefined &&
            newArt != '' &&
            newQty != undefined &&
            newQty >= 1 &&
            newQty <= 5 &&
            isConnectCartV3"
    >
        Ajouter
    </button>
</fieldset>



<fieldset style="width:55%; float:left;">
    <legend>Liste des courses | <button (click)="removeAllArt()">Vider tout</button></legend>
    <ul>
        <li *ngFor="let article of listArticles">
            {{article.qty}} x {{article.name}} 
            ajouté le : {{article.dateAjout | date : "dd/MM/yyyy hh:mm:ss" }}
             - Traduction pour mamy : {{ article.qty | bobonneTranslate}}
<!--* 4 x pomme ajouté le : jj/mm/aaaa hh:mm:ss - Traduction Pour mamy : Quatre-->
        <button style="color:red;" (click)="delArticle(article.name)">X</button>
        </li>
        <li><b><i>Total d'article : {{ totalCart }}</i></b></li>
    </ul>
</fieldset>