<fieldset style="width:35%; float:left;">
    <legend>Système d'ajout</legend>

    <label>Article</label><input [(ngModel)]="newArt" type="text" placeholder="votre article"><br><br>
    <label>Quantité</label><input [(ngModel)]="newQty" type="number" min="1" max="5"><br><br>

    <button
        (click)="addArticle()"
        *ngIf="
            newArt != undefined &&
            newArt != '' &&
            newQty != undefined &&
            newQty >= 1 &&
            newQty <= 5"
    >
        Ajouter
    </button>
</fieldset>